.lobby_block {
    padding-top: 30px;
}

.main {
    display: flex;
    margin: 24px;
    margin-left: 110px;
    height: 75%;
}

.right, .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 49%;
}

.general, .flag, .automat, .RPG {
    margin-bottom: 12px;
    height: 25%;
    width: 56%;
    padding-top: 0;
    overflow: hidden;
}

.general, .flag {
    padding-bottom: 0;
}

@media screen and (max-width: 900px) {
    .general, .flag, .automat, .RPG {
        height: 29%;
    }
}

.tank2, .tank3 {
    margin-bottom: 12px;
    height: 40%;
    width: 85%;
    text-align: left;
    padding-left: 15px;
    padding-top: 0px;
}

.free {
    color: #00ff00;
}
.selected {
    color: var(--red);
}