.logo {
   margin: 0 140px;
   height: 15vh;
   width: 80%;
}

@media (max-width:1400px) {
    .logo {
        margin: 0 60px;
     }
}

@media (max-width:900px) {
    .logo {
        margin: 0 30px;
     }
}

