.game_page {
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
}

.canvas::-webkit-scrollbar {
   width: 0;
   overflow: hidden;
}

.game_chat_block {
   position: absolute;
   left: 20px;
   bottom: 20px;
   background-color: #fff5;
   border: 2px solid var(--black);
   border-radius: 17px;
}

.game_leave_button {
   position: absolute;
   background-color: var(--red);
   padding: 5px 10px;
   margin: 5px 0 0 5px;
   color: #fff;
   text-align: center;
   font-family: Times New Roman;
   font-size: 20px;
   font-weight: 800;
   border-radius: 20px;
   border: 1px solid #000;
}

.game_leave_button:hover {
   cursor: pointer;
}
