.game_page {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
  }

.fps {
  position: absolute;
  top: 13px;
  left: 13px;
  font-family: 'Neucha', sans-serif;
  font-size: 30px;
}

