.game_page {
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
}

.canvas::-webkit-scrollbar {
   width: 0;
   overflow: hidden;
}

.game_chat_block {
   position: absolute;
   left: 20px;
   bottom: 20px;
   background-color: #ffffff55;
   border: 2px solid var(--black);
   border-radius: 17px;
}
