.tank_lobby {
   background: #93704d;
   grid-column: secondcolstart / end;
}

.tank_lobby_list {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 20px;
   height: 100%;
}

.tank_list_el {
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: antiquewhite;
   align-items: center;
   padding: 10px;
   box-sizing: border-box;
}

.tank_list_circles {
   display: flex;
   gap: 20px;
}

.tank_circle {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: var(--primary-green);
}

.tank_circle_occupied {
   background-color: var(--red);
}

.tank_lobby_add {
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: aqua;
   text-align: center;
}
