.game_time_div {
	position: absolute;
    user-select: none;
    left: 50%;
	top: 5px;
    transform: translate(-50%);
}

.game_time_span {
	font-family: 'Pangolin', cursive;
	font-size: 28px;
	text-align: center;
    user-select: none;
	border: 1px solid var(--black);
	background-color: #FFFFFF 50%;
	padding: 0 3px; 
}