.menu_page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.menu_buttons_block {
  display: flex;
  margin-bottom: 20px;
  height: 60%;
  align-items: center;
  flex-direction: column;
}

.menu_btn {
  margin-bottom: 90px;
  padding: 5px;
  width: 48vw;
  max-height: 200px;
}

.s {
  margin: 0;
  padding: 0px;
  font-size: 2vw;
}

.l {
  margin: 0;
  padding: 0px;
  font-size: 4vw;
}
