.error-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.error-code-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.error-code-block> div {
    display: flex;
    align-items: center;
}

.error-code-block button {
    padding: 10px;
    font-size: 40px;
}

.error-text, .error-code{
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid var(--black);
}

.error-code {
    width: fit-content;
    font-family: 'Rubik Dirt';
    font-size: 80px;
    font-weight: 400;
    padding: 5px 20px;
    margin-right: 40px;
}

.error-text {
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: 400;
    font-family: 'Times New Roman';
    font-size: 90px;
}

@media (max-width: 777px) {
    .error-code{
        font-size: 50px;
    }

    .error-text {
        font-size: 60px;
    }

    .error-page-wrapper{
        padding: 50px 20px;
    }
}

@media (max-width: 567px) {
    .error-code{
        font-size: 35px;
    }

    .error-text {
        font-size: 50px;
    }

    .error-code-block button {
        padding: 10px;
        font-size: 30px;
    }
}