.error-page-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.error-page-wrapper > div {
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid var(--black);
}

.error_code {
    width: fit-content;
    font-family: 'Rubik Dirt';
    font-size: 128px;
    font-weight: 400;
    padding: 5px 20px;
}

.error_text {
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: 400;
    font-family: 'Times New Roman';
    font-size: 96px;
    min-height: 400px;
}

@media (max-width: 1004px) {
    .error_code{
        font-size: 90px;
    }

    .error_text {
        font-size: 70px;
    }
}

@media (max-width: 759px) {
    .error_code{
        font-size: 60px;
    }

    .error_text {
        font-size: 50px;
    }

    .error-page-wrapper{
        padding: 50px 20px;
    }
}

@media (max-width: 564px) {
    .error_code{
        font-size: 40px;
    }

    .error_text {
        font-size: 30px;
    }
}