.chat_container {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 17px;
  justify-content: flex-end;
}

.chat_container_lobby {
  background-color: var(--yellow);
  border: 5px solid #000;
}

.chat_container_game {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: #ffffff55;
  border: 2px solid var(--black);
}

.body_chat {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: Neucha, "Times New Roman", Times, serif;
  scrollbar-width: none;
  align-items: flex-start;
  max-height: 375px;
}

.chat_messages_game {
  max-height: 230px;
  max-width: 350px;
  min-width: 300px;
}

.chat_messages::-webkit-scrollbar {
  display: none;
}

.message_text {
  display: inline-block;
  word-break: break-all;
  font-weight: normal;
}

.message_author {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding: 4px;
  border-radius: 17px 17px 17px 0;
  margin: 2px;
  background: var(--green-yellow);
}

.message_author_user {
  background: #ffc531;
}

.chat_input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 17px;
  border: 2px solid var(--black);
  max-height: 25px;
  border-bottom: none;
}

.input_chat {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  font-family: Neucha, "Times New Roman", Times, serif;
  font-size: 19px;
}

.chat_send_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.rank_img {
  max-width: 40px;
  max-height: 27px;
  margin-left: 2px;
}

.send_btn_game {
  max-width: 55px;
  scale: 1.1;
}

.header_chat {
  max-height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 48px;
  font-family: Neucha, "Times New Roman", Times, serif;
}

.chat_icon_game {
  max-height: 50px;
}
