.dossier_shop {
    display: flex;
    width: 100%;

}

.dossier_shop > div {
    height: 100%;
}

.shop_menu {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.shop_content {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 50px;
}