.dossier {
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 15px;
  border: 6px solid #000;
  background: #9ed17f;
}

.dossier_info {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
  gap: 20px;
  color: #000;
  font-family: Neucha;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
}

.dossier_user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dossier_image {
  border-top-left-radius: 15px;
  border: 5px solid #000;
  margin: -5px 0 0 -5px;
}

.achievements_button {
  margin: -5px -5px 0 0;
  border-radius: 0;
  border-top-right-radius: 17px;
}

.dossier_image img {
  width: 100%;
  height: 100%;
  border: none;
  border-top-left-radius: 8px;
  pointer-events: none;
  user-select: none;
}

.dossier_exp_progress {
  display: grid;
}

.dossier_exp_progress_bar {
  position: relative;
  border: 6px solid #000;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  margin: 0 20px;
}

.exp_progress{
  height: 100%;
  position: absolute;
  background: #4b9d4f;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.dossier_exp_progress_bar span {
  position: relative;
  font-size: 30px;
}


@media (max-width: 1700px) {
  .user_name {
    font-size: 50px;
  }
  .user_rang {
    font-size: 30px;
  }
  .achievements_button {
    font-size: 30px;
  }
}

@media (max-width: 1500px) {
  .user_name {
    font-size: 40px;
  }
}

@media (max-width: 1300px) {
  .user_name {
    font-size: 30px;
  }
  .user_rang {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .achievements_button {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .user_name {
    font-size: 20px;
  }
  .dossier_image {
    display: none;
  }
  .dossier_user {
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid #000;
  }
  .achievements_button {
    border-bottom: none;
  }
}

@media (max-width: 500px) {
}
