.lobby_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 50px 10px 50px;
   height: 100%;
   box-sizing: border-box;
}

.lobby_block {
   margin-top: 20px;
   display: grid;
   grid-template-columns: [start] 3fr [firstcolend] 30px [secondcolstart] 3fr [secondcolend] 40px [info] 5fr [end];
   height: 100%;
}

.lobby_main_units {
   grid-column: start / firstcolend;
}

.lobby_tanks_info {
   grid-column: secondcolstart / end;
}

.lobby_units_block {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.units_item {
   background-color: var(--gray);
   height: 200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.units_item:hover {
   background-color: #fff;
}

.tank_selected {
   background-color: #b48686;
}

.tank_selected:hover {
   background-color: #b48686;
}

.general.image img {
   mix-blend-mode: normal;
   width: 50%;
}

.selected_role {
   transition: all 0;
   pointer-events: none;
   background-color: #989898;
}

.selected_role:hover {
   background-color: #989898;
}
