.reg_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 20%;
}

.reg_header button {
  height: 7.5vw;
}

.reg_wrapper {
  height: 90%;
  width: 100%;
}

.reg_content {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.column_div {
  display: flex;
  flex-direction: column;
}

.errors_div > div {
  width: calc(max-content);
  font-family: Neucha;
  font-size: 4vw;
  font-style: normal;
  line-height: normal;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #000;
  max-height: 160px;
  margin: 0 0 10 0;
}

.errors_div > .warning {
  background-color: var(--yellow);
}

.errors_div > .error {
  background-color: var(--red);
}
