.reg_header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  gap:20px;
}

.reg_header button {
  font-size: 60px;
  padding: 0 10px; 
}

.reg_wrapper {
  height: 100%;
  width: 100%;
}

.reg_content {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.reg_submit_button {
  font-size: 60px;
  margin: 10px 0;
}

.reg_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.reg_footer {
  display: flex;
  justify-content: flex-end;
}

@media  (max-width: 1130px) {

  .reg_header button,
  .reg_submit_button  {
    font-size: 45px;
  }
  
}

@media  (max-width: 750px) {
  .reg_header button {
    font-size: 40px;
    padding: 0 10px;
  }
  
}

@media (max-width: 550px) {
  .reg_header button {
    font-size: 30px;
    padding: 0 10px;
  }

  .reg_submit_button{
    font-size: 25px;
    padding: 0 10px;
  }
  
}

@media (max-width: 353px) {
  .reg_header button {
    font-size: 25px;
  }
}
