.router_block {
    display: flex;
    box-sizing: content-box;
    padding: 40px;
    height: 85vh;
}

@media (max-width:400px) {
    .router_block{
        padding: 10px;
        height: 95vh;
    }
}