.progress_wrapper {
   position: relative;
   width: 100%;
   font-size: 40px;
}

.progress_wrapper > span {
   font-family: "Neucha", cursive;
   font-size: 64px;
}

.progress_bar {
   display: flex;
   width: 100%;
   height: 50px;
   background: var(--gray);
   border: 4px solid #000;
}

.progress {
   position: relative;
   background: #1c8a00;
   height: 100%;
   transition: width 0.3s ease-in-out;
}

.progress_text {
   user-select: none;
   position: absolute;
   font-size: 40px;
   color: #000;
   right: 4px;
   font-family: "Dokdo", cursive;
}

.triangle {
   position: absolute;
   background: var(--gray);
   height: 100%;
   width: 20px;
   right: -0.3px;
   clip-path: polygon(100% 0, 0 100%, 100% 100%);
   transition: 1s;
}
