.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header > button {
    width: 30%;
}

.page_handler {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}
