.lobby_other_units {
   grid-column: secondcolstart / secondcolend;
}

.lobby_info {
   grid-column: info / end;
   display: grid;
   grid-template-rows: 100px auto auto;
   gap: 30px;
}

.logout_button {
   align-self: flex-end;
   font-size: 60px;
}

.lobby_chat_block {
   grid-row: 2 / span 2;
   height: fit-content;
   align-self: flex-end;
}

.chat_block {
   display: grid;
   justify-self: right;
   grid-template-columns: auto auto;
   align-items: center;
   background-color: var(--yellow);
   border-radius: 17px;
   border: 5px solid #000;
   font-size: 70px;
   font-family: Neucha;
   font-weight: bold;
   cursor: pointer;
}

.chat_block img {
   height: 80px;
}

@media (max-width: 1500px) {
   .chat_block,
   .chat_btn {
      font-size: 60px;
   }
   .logout_button {
      font-size: 60px;
   }
}

@media (max-width: 1300px) {
   .chat_block,
   .chat_btn {
      font-size: 50px;
   }
   .logout_button {
      font-size: 50px;
   }
}

@media (max-width: 1000px) {
   .chat_block,
   .chat_btn {
      font-size: 35px;
   }
   .logout_button {
      font-size: 40px;
   }
   .chat_block img {
      height: 60px;
   }
}

@media (max-width: 750px) {
   .chat_block,
   .chat_btn {
      font-size: 30px;
      grid-template-columns: 60px auto;
   }
   .logout_button {
      font-size: 30px;
   }
   .chat_text {
      display: none;
   }
   .chat_block img {
      width: 60px;
      height: 60px;
   }
}

@media (max-width: 500px) {
   .chat_block,
   .chat_btn {
      font-size: 20px;
   }
   .logout_button {
      font-size: 20px;
   }
}
