.login_header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  gap: 20px;
}

.login_header button {
  font-size: 60px;
  padding: 0 10px;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 70px;
}

.login_submit_button {
  padding: 0 30px;
  margin: 10px 0;
  font-size: 60px;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login_footer {
  display: flex;
  justify-content: flex-end;
}

.errors_div {
  max-height: 300px;
}

.errors_div > div {
	font-size: 65px;
  width: fit-content;
  font-family: Neucha;
  font-style: normal;
  line-height: normal;
  text-align: left;
  border-radius: 15px;
  border: 5px solid #000;
  max-height: 160px;
  margin: 0 0 10 0;
  padding-left: 6px;

}

.errors_div span {
  margin: 10px;
}

@media  (max-width: 1750px) {
  .errors_div > div {
    font-size: 55px;
    border: 5px solid #000;
  }
}

@media  (max-width: 1130px) {
  .errors_div > div {
	font-size: 45px;
	border: 4px solid #000;  
  }

  .login_header button,
  .login_submit_button  {
    font-size: 45px;
  }
  
}

@media  (max-width: 750px) {
  .login_header button {
    font-size: 40px;
    padding: 0 10px;
  }
  
}

@media (max-width: 550px) {
	.errors_div > div {
		font-size: 30px;
		border: 3px solid #000;
  }

  .login_submit_button{
    font-size: 40px;
    padding: 0 10px;
  }
  
}

@media (max-width: 350px) {
  .errors_div > div {
    font-size: 17px;
    border: 2px solid #000;
  }

  .login_header button {
    font-size: 30px;
  }
}
