.game_overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.game_overlay_visiable {
   display: flex;
   opacity: 1;
}

.game_overlay_text {
   color: var(--red);
   font-size: 80px;
}

.game_victory {
   color: #0f0;
}
