.button {
  font-family: Neucha;
  font-size: 4vw;
  font-style: normal;
  line-height: normal;
  font-weight:bold;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  border: 5px solid #000;
  border-radius: 17px;
  transition: 0.3s;
}

.menu {
  background: linear-gradient(180deg, rgba(120, 170, 119, 0) 0%, #58db56 100%);
  border-radius: 30px;
  border: 4px solid #000;
}

.menu:hover {
  background: linear-gradient(180deg, rgba(40, 70, 39, 0) 0%, #3a7d3a 100%);
}

.primary {
  color: var(--black);
  background: var(--primary-green);
}

.primary:hover {
  background: var(--primary-green-hover);
}

.disable {
  pointer-events: none;
}

.active {
  background: #92f663;
}

/*допоплнительный classname к Button*/
.image {
  background-color: var(--gray);
  font-size: 1.7vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
}

.image:hover {
  background-color: var(--gray-hover);
}

.image img {
  mix-blend-mode: darken; 
  max-height: 65%;
  width: 90%;
  padding-top: 1%;
}

.dossier_button {
   font-size: 3vw;
   width: calc(100% + 12px);
   margin: -6px;
}