.button {
   font-family: Neucha;
   font-size: 4vw;
   font-style: normal;
   line-height: normal;
   text-align: center;
   box-sizing: border-box;
   padding: 10px;
   cursor: pointer;
   transition: all 0.2s;
   text-align: center;
   border: 5px solid #000;
   border-radius: 17px;
   transition: 0.3s;
}

.menu {
   background: linear-gradient(180deg, rgba(120, 170, 119, 0) 0%, #58db56 100%);
   border-radius: 30px;
   border: 4px solid #000;
}

.menu:hover {
   background: linear-gradient(180deg, rgba(40, 70, 39, 0) 0%, #3a7d3a 100%);
}

.primary {
   color: var(--black);
   background: var(--primary-green);
}

.primary:hover {
   background: var(--primary-green-hover);
}

.disable {
   pointer-events: none;
}

.active {
   background: #92f663;
}
