body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    #268a30 0%,
    rgba(160, 224, 166, 0.51) 48.96%,
    rgba(1, 19, 3, 0.68) 100%
  );
  border: 13px solid var(--yellow);
  font-family: "Cranberry Cyr", sans-serif;
}

:root {
  --black: #000000;
  --primary-green: #92F663;
  --primary-green-hover: #6ed340;
  --green-yellow: #ecee77;
  --salad: #cfd262;
  --gray: #d9d9d9;
  --yellow: #faff00;
  --dark-green: #85BA65;
  --bright-green: #74cf3c;
  --light-green: #85ba65;
  --red: #f00;
  --gray-hover: #ffffff;
}

.app {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
