.dossier_image {
   border-top-left-radius: 15px;
   border: 5px solid #000;
   margin: -5px 0 0 -5px;
}

.dossier_image img {
   width: 100%;
   height: 100%;
   border: none;
   border-top-left-radius: 8px;
   pointer-events: none;
   user-select: none;
}

.dossier_user {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100%;
   height: 50%;
}

.dossier_info {
   font-family: Neucha;
   font-size: 2vw;
}

.dossier_info > div {
   padding: 0 0 0 5px;
}

.dossier_button {
   font-size: 1.5vw;
   margin: -5px;
}

.achievements_button {
   font-size: 1.5vw;
   margin: -5px -5px -4.5px;
   border-radius: 0;
   border-top-right-radius: 17px;
}